@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* COLORES */
body {
    --verde_oscuro: #0a9474;
    --verde_claro: #27d687;
    --fondo_blanco: #f9f8fd;
    --fondo_azulado: #eeeefc;
    --fondo_grisaceo: #b5d4cf;
    --enlaces: #65537f;
    --naranja: #ffd11f;
    --parrafos:#203940;
}

/* ALL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background: url('imagenes/texture-bg.jpg');
    background-repeat: repeat;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}
header,
article,
footer {
    text-align: center;
    align-self: center;
}
.hideText h1, .hideText h2{
    display: none;
}
/* PANTALLAS GRANDES (L) */
    
    /* NAVBAR (L)*/    
        nav {
            background: var(--fondo_azulado);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            position: fixed;
            width: 100%;
            z-index: 6;
            box-shadow: 0 4px 10px rgba(21, 21, 46, 0.1);
        }
        
        nav .logo {
            display: flex;
            align-items: center;
            height: 90px;
            margin-left: 20px !important;
            z-index: 11;
            filter: drop-shadow(0 2px 5px rgba(66, 76, 84, 0.7));
        
        }
        nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            flex-grow: 1;
            margin-right: 20px;
        }
        
        nav ul a li {
            list-style: none;
            margin: 0 60px;
            display: inline-block;
            border-radius: 60px;
        }
        
        nav ul a li {
            text-decoration: none;
            color: var(--enlaces);
        }
        .opciones {
            background-color: var(--fondo_grisaceo);
            padding: 10px 50px;
        }
        
        .opciones:hover {
            /* background-color: var(--fondo_grisaceo); */
            background: #b5d4cf;
            box-shadow: inset 7px 7px 23px #659891,
                inset -7px -7px 23px #cef0f4;
        }
        
        #li_active {
            background-color: var(--fondo_blanco);
            border-radius: 60px;
            box-shadow: 0 4px 8px rgba(21, 21, 46, 0.1);
        
        }
        
        a #li_active {
            color: var(--verde_claro);
        }
        
        #enlace-tienda {
            height: 50px;
            border-radius: 60px;
            box-shadow: 0 4px 8px rgba(21, 21, 46, 0.1);
        }
    /* HEADER (L)*/
        #portada,
        .image-pc {
            width: 100%;
        }
        #contact-header{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 100px; 
            text-align: center;
            margin: 0 auto; 
            max-width: 1600px;
        }
        #portada-mobile, .image-mobile {
            display: none;
        }
    /* ARTICLE (L)*/
        article {
            background: url('imagenes/pikmin-background-04.webp');
            background-size: cover;
            background-position: center;
            height: calc(100% +100px);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sin-fondo{
            background: none;
        }
        #info{
            height: 100vh!important;
        }
        #info-title {
            color: var(--verde_oscuro);
            text-shadow:
                -2px -2px 0 #ffffff,
                2px -2px 0 #ffffff,
                -2px 2px 0 #ffffff,
                2px 2px 0 #ffffff;
        }
        #intro-img{

            position: relative;
            margin-bottom: 0;
            width: 80%;
        }
        #intro-img img{
            height: 20vh;
        }

        /* ELEMENTOS (L)*/
            .intro{
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;
                padding-bottom: 0;
                margin: 0 auto;
                max-width: 1600px;
            }
            .intro .cintas{
                padding: 20px 0 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .intro p{
                font-size: 3.5rem;
                color: var(--parrafos);
                background-repeat: no-repeat;
                background-size:cover;
                border-radius: 30px;
                /* margin-bottom: 50px; */
                height: 28vh;
            }
            article .cintas , header .cintas{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 50px 0;
                height: auto;
                width: 50%;
                position: relative;
            }
            .columna .cintas {
                padding: 20px 0;
                width: 100%;
            }
            .cintas img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 20px;
            }
            article .cinta-text , header .cinta-text{
                color: white;
                font-size: 2.5vw;
                font-weight: 700;
                text-align: center;
                padding: 0 20px;
                z-index: 3;
                position: absolute;
                top: 50%;
                left: 50%;
                /* Ajustar la posición del elemento para centrarlo en el contenedor */
                transform: translate(-50%, -50%);
                white-space: nowwrap;
                width: 90%;
            }
            
            .columna .cinta-text {
                font-size: 1.5rem;
                padding: 0;
            }
            
            .cuadro{
                margin: 10vh 30vh;
                background: #caefcf;
                /* Patrón Puntos fondo */
                background-image: radial-gradient(#e2f6e5 2px, transparent 0);
                background-size: 20px 20px;
                border-radius: 30px;
                padding: 40px 100px;
                width: 60vw;
                border: solid 2px var(--fondo_blanco);
                
            }
            .cuadro h2{
                font-size: 3.5rem;
                color: var(--verde_oscuro);
                padding: 20px;
                text-shadow:
                -3px -3px 0 #ffffff,
                3px -3px 0 #ffffff,
                -3px 3px 0 #ffffff,
                3px 3px 0 #ffffff;
                border-radius: 30px;
                margin-bottom: 50px;
            }
            .cuadro p{
                font-size: 2rem;
                color: var(--parrafos);
                padding: 20px;
                text-align: justify;
            }
            .contenedor-1elemento {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                /* padding: 20px; */
            }
            
            .contenedor-1elemento iframe {
                position: absolute;
                width: 45%;
                height: 40%;
                border: none;
                z-index: 2;
                border: solid 7px white;
                border-radius: 30px;
            }
            
            .contenedor-1elemento .image-pc,
            .contenedor-1elemento .image-mobile {
                width: 100%;
                height: auto;
                object-fit: cover;
                z-index: 1;
            }

            .others-info {
                margin: 0 auto; 
                max-width: 1200px; 
                padding: 20px;
            }
            .others-info .cintas{
                padding: 20px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .others-info div .cintas img{
                width: 50%;
                height: auto;
                object-fit: cover;
                border-radius: 20px;
            }
            .others-info div .cintas .cinta-text{
                font-size: 2.5rem;
                padding: 0 20px;
                z-index: 3;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowwrap;
                width: 90%;
            }
            .others-info .dos-columnas {
                display: flex;
                justify-content: center;
                align-items: center;
               
                border: 2px solid #d1b3a2; 
                border-radius: 20px;
                padding: 20px;
                margin-bottom: 20px; 
            }
            
            .others-info .columna {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; 
                width: 100%;
                padding: 20px;
            }
            
            .others-info .columna img {
                width: 30vw;
                max-width: 300px; 
                height: 25vh; 
                object-fit: cover; 
                border-radius: 20px;
                margin-bottom: 20px; 
            }
            
            .others-info .columna p {
                text-align: center; 
                font-size: 1.7rem;
                color: var(--parrafos);
                padding: 10px;
            }
            #privacidad-info {

                color: rgb(22, 21, 38);
            }
            
            #privacidad-info header {
                padding-bottom: 50px;
                font-size: 2rem;
            }
            
            #privacidad-info section {
                text-align: left;
                margin: 10px 80px;
                backdrop-filter: blur(15px);
                border-radius: 30px;
                padding: 20px;
            }
            
            #privacidad-info a {
                color: blue;
            }
            
            #privacidad-info h2 {
                padding: 20px 0;
                font-size: 1.7rem;
            }
            #privacidad-info p, #privacidad-info ul {
                margin: 5px 25px;
            }
            #privacidad-info li{
                margin: 2px 35px;
            }
            /* VIDEO MOVIL INFO */
                #video-movil {
                    position: relative;
                    width: 100%;
                    max-width: 300px;
                    margin: 0 auto;
                }
                
                #video-movil img {
                    width: 100%;
                    height: auto;
                    display: block;
                    position: relative;
                    z-index: 2;
                }
                
                #video-movil video {
                    position: absolute;
                    top: 48%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    height: 94%;
                    z-index: 1;
                    border-radius: 30px;
                }

        /* CARROUSEL (L)*/
            .carrousel {
                width: 75%;
                max-width: 100vw;
                background-color: var(--fondo_blanco);
                padding: 20px;
                border-radius: 20px;
                height: 500px;
                min-height: fit-content;
                overflow: hidden;
            }
            .carrousel .carr-element {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .carr-element img {
                width: 600px;
                height: 350px;
                object-fit: cover;
                border-radius: 20px;
            }
            .carrousel .grande {
                width: 200%;
                display: flex;
                justify-content: space-between;
                flex-flow: row nowrap;
                align-items: center;
                transition: all .5s ease;
                transform: translateX(0%);
            }
            
            .carrousel .carr-element {
                /* DIVIDIR ENTRE EL NUMERO DE ELEMENTOS Q HAY EN TOTAL */
                width: calc(100% / 4 -4em);
                align-items: center;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            
            .carrousel .columna p {
                padding: 1em;
                text-align: right;
                color: var(--naranja);
                font-size: 1.6rem;
                padding-bottom: 100px;
                padding-right: 20px;
            }
            
            .carrousel .columna h3 {
                font-size: 2rem;
                padding-left: 20px;
                padding-bottom: 20px;
            }
            
            .puntos {
                width: 100%;
                padding: 1em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
            
            .punto {
                text-decoration: none;
                width: 2em;
                height: 2em;
                list-style: none;
                border-radius: 50%;
                background: #eeebd4;
                box-shadow: 7px 7px 14px #9b998a,
                    -7px -7px 14px #ffffff;
                margin: 1em 1em 0;
            }
            
            .punto:hover {
                background: #e4d5c4;
                box-shadow: inset 7px 7px 23px #5b554e,
                    inset -7px -7px 23px #ffffff;
            }
            
            .punto.activo {
                background: #d6b084;
                box-shadow: inset 7px 7px 23px #5b554e,
                    inset -7px -7px 23px #ffffff;
            }
            
            .carrousel .columna img {
                display: block;
                margin: 0 auto;
            }

        /* COLUMNAS (L)*/
            .dos-columnas {
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 70px 0;
            }
            
            .columna {
                width: 100%;
                padding: 20px 0;
                border-radius: 10px;
            
            }
            .cuadro .dos-columnas{
                border: solid 2.5px #07c4c4;
                border-radius: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                max-width: 1600px;
                padding: 20px 20px;
            }
            .cuadro .dos-columnas img{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 30px;
            }
            .dos-columnas .columna div p{
                height: 20vh;
                font-size: 1.6rem;
                color: var(--parrafos);
                backdrop-filter: blur(15px);
                border-radius: 30px;
                padding: 30px 10px 20px ;
                margin-bottom: 50px;
               
            }
        /* FORMS(L) */
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 1600px;
                margin: 0 auto;
                padding: 15px 160px;
                border: 2px solid var(--verde_oscuro);
                border-radius: 10px;
                background-color: #d1ecdb;
            }
            
            form div {
                margin-bottom: 15px;
                width: 100%;
            }
            
            form label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                text-align: center; 
            }
            
            form input[type="text"],
            form input[type="number"],
            form input[type="email"],
            form input[type="tel"] {
                width: 100%;
                padding: 15px;
                border: 2px solid var(--verde_oscuro);
                border-radius: 10px;
                box-sizing: border-box; 
                font-size: 1rem;
            }
            form label[for="terms"] {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 27px 0px; 
                font-weight: bold;
                text-align: center; 
                white-space: nowrap;
            }
            form input[type="checkbox"] {
                margin-right: 10px;
            }
            
            form button {
                padding: 15px 30px;
                border: none;
                border-radius: 10px;
                background-color: var(--verde_oscuro);
                color: white;
                font-size: 1rem;
                cursor: pointer;
            }
            
            form button:hover {
                background-color: var(--verde_claro);
            }
            #pikmin-border {
                margin: 20px 0 60px; 
                height: 20vh;
                width: 100% !important;
            }
           
    /* FOOTER (L)*/
        footer {
            margin-bottom: 0;
            padding-bottom: 50px;
            background: url('imagenes/grass.webp');
            background-repeat: repeat;
            background-size: cover;
            height: fit-content;
           
        }
        footer p{
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
        }
        
        .divider {
            margin: auto;
            padding: 90px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
       .divider {
            width: 70vw;
            max-width: 1600px;
        }
        
        footer .columna {
            color: white;
            text-align: center;
        }
        footer i {
            color: white;
            font-size: 2rem;
            padding: 0 10px;
        }
        #logo-app {
            margin: 0 auto;
            height: 350px;
            border-radius: 30px;
        }
        
        #iconos-enlaces {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
        }
        
        #privacidad {
            color: rgb(9, 9, 9);
            text-decoration: solid;
            text-align: center;
            padding: 130px 0 0;
        }
        
        #privacidad a {
            color: rgb(255, 255, 255);
            padding-bottom: 20px;
            display: block;
            margin-bottom: 20px;
        }
        #privacidad a:hover{
            color: var(--parrafos) !important;
        }
        .download-app {
            width: 400px;
            padding: 20px;
        }

/* ----------------------------------------------------------------------------------------------------------- */

/* PANTALLAS MEDIANAS (M)*/
@media screen and (min-width:1460px) {
    /* NAVBAR (M)*/     
        .nav-links {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-links.active {
            display: flex;
            flex-direction: row;
            position: static;
            top: auto;
            z-index: auto;
            padding: 0;
            border-radius: 0;
        }

        .nav-links a {
            width: auto;
        }

        .nav-links .opciones {
            box-shadow: none;
            margin-bottom: 0;
        }

    /* HEADER (M)*/

    /* ARTICLE (M)*/
        article .cintas img {
            width: 100%;
            height: 100%;
        }

        article {
            background-repeat: repeat;
            background-size: min-content;
            padding-bottom: 30px;
            height: min-content;
        }
        /* ELEMENTOS (M)*/
            .divider {
                overflow: hidden;
                width: 100%;
                max-width: 1600px;
            }
        /* CARROUSEL (M)*/
            .carrousel {
                width: 80%;
                margin: 0 auto;
            }
        
            .carrousel .carr-element {
                width: 45%;
                margin: 0 20px;
                
            }
        
            .carrousel .columna p,
            .carrousel .columna h3 {
                text-align: left;
                padding: 0;
            }
        
            .carrousel .columna p {
                padding-bottom: 1em;
                padding-right: 0;
            }
        
            .carrousel .columna h3 {
                padding-left: 0;
            }
        
            .carr-element img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 20px;
            }
                   
            .carrousel .dos-columnas {
                flex-direction: column !important  ;
                align-items: center;
            }
            .carrousel .columna {
                width: 100%;
                text-align: center; 
            }
            .carrousel .columna img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 20px;
                margin-bottom: 20px; 
            }

            
        /* COLUMNAS (M)*/
            .dos-columnas {
                flex-direction: row;
                justify-content: space-between;
            }
        
            .columna {
                width: 45%;
                margin-bottom: 0;
            }
        /* FORMS(M) */

    /* FOOTER (M)*/
    /* Incñuir rango de 769-1460px */
    @media (min-width: 769px) and (max-width: 1460px) {
        .carrousel .dos-columnas {
            flex-direction: column; /* Cambia la dirección del flex a columna */
            align-items: center; /* Centra los elementos horizontalmente */
        }
    
        .carrousel .dos-columnas .columna {
            width: 100%; /* Asegura que las columnas ocupen el 100% del ancho del contenedor */
            margin-bottom: 20px; /* Añade un margen inferior para separar las columnas */
            text-align: center; /* Centra el texto dentro de las columnas */
        }
       .carr-element {
            padding: 0 90px;
            
        }
        .sin-fondo {
            padding: 40px;
        }
    
        .sin-fondo img {
            width: 80%;
            height: auto;
        }
    
        .cuadro {
            margin: 10vh 10vw;
            padding: 30px;
            width: 80vw;
        }
    
        .cuadro h2 {
            font-size: 2.2rem;
            padding: 15px;
        }
    
        .cuadro p {
            font-size: 1.4rem;
            padding: 15px;
        }
    
        .cuadro .dos-columnas {
            border: none;
            flex-direction: column;
            padding: 30px 0;
        }
    
        .cuadro .dos-columnas .columna {
            width: 100%;
            padding: 15px 0;
        }
    
        .cuadro .dos-columnas img {
            width: 100%;
            height: auto;
        }
        /* FORM (M-S) */
       

    }
}
/* ----------------------------------------------------------------------------------------------------------- */

/* PANTALLAS PEQUEÑAS (S) */
@media (max-width: 768px) {
    /* NAVBAR (S)*/   
        nav .logo :hover {
            filter: drop-shadow(0 4px 8px rgba(184, 223, 255, 1));
        } 
        nav ul {
            flex-direction: column;
            align-items: flex-start;
        }
    
        nav ul a li {
            width: 38vw;
            margin: 10px 0;
            display: flex;
            justify-content: center; 
            
            
        }
        .nav-links {
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .nav-links.active {
            
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 180px;
            z-index: 10;
            padding: 10px;
            border-radius: 10px;
        }
    
        .nav-links a {
            text-decoration: none !important;
            width: 100%;
        }
    
        .nav-links .opciones {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
        }
    
        .nav-links {
            display: none;
        }
    /* HEADER (S)*/
        header {
            height: 100%;
            color: transparent;
            background-size: cover;
            width: 100%;
        }
        #portada-mobile, .image-mobile {
            background-size: cover;
            width: 100%;
            display: block;
            margin: 0;
        }
        #portada,.image-pc {
            display: none;
        }
        #portada img, .image-pc img {
            display: none;
        }
        .nav-links {
            display: none;
        }
    
        .nav-links.active {
            display: flex;
        }
    /* ARTICLE (S)*/
        article{
            height: calc(100% + 20px)
        }
        /* ELEMENTOS (S)*/
            .intro{
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;
                margin: 0 auto 10vh;
                max-width: 1600px;
                height: 55vh;
            }
            .intro .cintas{
                padding: 20px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .intro p{
                font-size: 2rem;
                background: none;
                color: var(--parrafos);
                background-size:contain;
                border-radius: 30px;
                margin-bottom: 40px;
                height: 38vh;
            }
            
            #info{
                height: 100% !important ;
            }
            .contenedor-1elemento iframe {
                position: absolute;
                width: 80%;
                height: 26%;
                border: none;
                z-index: 2;
                border: solid 7px white;
                border-radius: 30px;
            }
        
            #info-title {
                font-size: 5vw;
                text-shadow: none;
                color: var(--fondo_blanco);
        
            }
            #video-movil {
                margin: 7vh auto 4vh;
            }
            article .cinta-text , header .cinta-text{
                font-size: 6vw;
            }
        
            .columna .cintas {
                padding: 10px 20px;
                /* width: 75%; */
            }
        
            article {
                height: fit-content;
            }
        
            article .cintas {
                padding: 14px 0;
            }
            .sin-fondo {
                padding: 20px;
            }
            .sin-fondo .cintas{
                text-align: center;
            }
        
            .sin-fondo img {
                width: 100%;
                height: auto;
            }
        
            .cuadro {
                margin: 5vh 5vw;
                padding: 20px;
                width: 90vw;
            }
        
            .cuadro h2 {
                font-size: 2rem;
                padding: 10px;
            }
        
            .cuadro p {
                font-size: 1.2rem;
                padding: 10px;
            }
            .cuadro .dos-columnas {
                border: none;
                flex-direction: column;
                padding: 20px 0;
            }
        
            .cuadro .dos-columnas .columna {
                width: 100%;
                padding: 10px 0;
            }
            .cuadro .dos-columnas img {
                width: 100%;
                height: auto;
            }
             .others-info{
                margin: 0 auto;
                max-width: 1600px; 
                padding: 20px;
                width: calc(100% - 40px);
            
            }
            #cinta-grande{
                width: 100% ;
            }
            #caracteristicas{
                width: 100%;
            }
           #caracteristicas .cintas img {
                width: 75% ; 
                height: auto;
            }
        
            #caracteristicas .cinta-text {
                font-size: 1.3rem; 
                padding: 0 10px;
            }
            #caracteristicas .columna img{
                width: 175vw;
                height: 30vh;
            }
            /* BUSCAR */
        /* CARROUSEL (S)*/
            .carrousel {
                width: 100%;
            }
        
            .carrousel .carr-element {
                width: 100%;
                margin: 0 60px;
            }
        
            .carrousel .columna p,
            .carrousel .columna h3 {
                text-align: center;
                padding: 0;
            }
        
            .carrousel .columna p {
                padding-bottom: 1em;
                padding-right: 0;
            }
        
            .carrousel .columna h3 {
                padding-left: 0;
            }
        
            .carr-element img {
                width: 260px;
                height: 250px;
                object-fit: cover;
                border-radius: 20px;
            }
            .carrousel {
                width: 100%;
                height: fit-content;
            }
        /* COLUMNAS (S)*/
            .dos-columnas .columna div p{
                height: 20vh;
                font-size: 1.6rem;
                color: var(--parrafos);
                padding: 0 40px ;
                backdrop-filter: blur(0);
            
            }
            .dos-columnas {
                flex-direction: column;
                align-items: center;
            }

            .columna {
                width: 100%;
                margin-bottom: 20px;
            }
        /* FORMS(S) */
            #contact-header {
                padding-top: 80px;
            }
        
            #contact-header .cintas img {
                width: 180%; 
            }
        
            #contact-header .cinta-text {
                font-size: 1.7rem;
            }
            form {
                padding: 10px 60px;
                margin-bottom: 20px;
            }
        
            form div {
                margin-bottom: 10px;
            }
            form .dos-columnas{
                padding-bottom: 0px;
            }
            form button {
                
                width: 100%;
            }
            form label[for="terms"] {
                padding: 20px 0px; 
            }
            #pikmin-border {
                display: none;
            }
    /* FOOTER (S)*/   
        footer .divider {
            width: 70%;
        }
        
}
